.SubmittedTask-container{
    height: auto;
    width: 15%;
    border: 1px solid #8f8d8d;

}
.SubmittedTask-container-top{
    background-color: #EBC010;
    padding: 20px;
    text-align: center;
}
.SubmittedTask-container-body{

}
.SubmittedTask-container-body-pro{
    border-radius: 35px;
    border: 1px solid #494848;
    margin: 20px;
    text-align: center; 
    padding: 4px 0px 7px 0px;

   
}
.SubmittedTask-container-body-pro p{
     /* margin-top:5px; */
} 