.modaShap{
    width:920px;

} 
.headerModal{
    font-size:20px;
    font-family:tahoma;
    color:#494848;
    background-color:#EBC010;
    width:720px;
}
.bodyModal{
   width:720px;
   background-color:#F2F2F2;
}
.cancelModal{
   /* margin-left:6px !important; */
   background-color:#F2F2F2;
   border:2px solid #EBC010;
   border-radius:58px;
   height:48px;
   width:121px !important;
   font-size:20px;
   font-family:tahoma;
   color:#EBC010;
}
.addModal{
    /* margin-left:6px !important; */
    background-color:#494848;
    border-radius:58px;
    height:48px;
    width:121px !important;
    font-size:20px;
    font-family:tahoma;
    color:#EBC010;
}