.rect-btn {
  margin-left: 6px;
  margin: 40px;
  border-radius: 12px;
  height: 50px;
  width: 220px;
  font-size: 20px;
  font-family: Tahoma, sans-serif;
  display: inline-block;
  color: #0e0d0d;
  border: 2px solid #ebc010;
}

.card-border {
  /* width: 60%; */
  /* margin: auto; */
  border: 2px solid #ebc010;
  border-radius: 10px;
  /* padding: 30px; */
}
.title {
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 30px;
  font-family: Tahoma, sans-serif;
  margin: 10px auto;
}
.signup-text {
  display: flex;
  justify-content: center;
}
.input-bg-style {
  background-color: #f8f9fa;
  /* width: 80%; */
}
.row-comtainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.payment-img {
  width: 100px;
}
.or {
  color: #ebc010;
  margin-right: 100px;
}
