
  
.post-container{
border: 1px solid #000000;
width:40%;
background-color: rgb(243, 243, 243);
margin-left: 20px;
  }
  /*****************top*****************************/
  .post-top{
    padding: 10px;
    background-color: #000000;
    color:#EBC010;
    text-align: left;
  }
  /**********************middle**************************************/
  .post-middle{
    background-color: rgb(243, 243, 243);
    height: 70px;
    padding: 10px;
  }
  .post-middle p{
    margin-top: 10px;
  }
  .post-line{
    border: .5px solid rgb(173, 172, 172);
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
  }
  /************************bottom***********************************/
  .post-bottom{
padding: 10px;
display: flex;
  } 
  .post-bottom-camera{

 margin-left: 20px;
 margin-right: 10px;
  }